// ========================================
// Color
// ========================================

$color-primary: #6485c1;
$color-secondary: #3e4977;

$color-white: #fff;
$color-black: #333;
$color-gray: #999;


// ========================================
// Font
// ========================================

$font-gothic : -apple-system, BlinkMacSystemFont, "Helvetica Neue", Hiragino Sans, 'ヒラギノ角ゴ ProN W3', Hiragino Kaku Gothic ProN, "Yu Gothic", YuGothic, Verdana, Meiryo, sans-serif;

// ========================================
// Width
// ========================================

$max-width-l: 1400px;
$max-width-m: 1200px;
$max-width-s: 90%;

// ========================================
// Path
// ========================================

$img-path: "/assets/images/";
