block variables
  -
    var global_img = '/assets/images/';
    var dummy_img = '/assets/images/dummy/';

doctype
html(lang='ja')
  head(prefix='og: http://ogp.me/ns#')
    link(href='/assets/styles/common.css')

  body
    block body
    script(src='/assets/scripts/common.js')
