block variables
  -
    const global_img = '/assets/images/';
    const dummy_img = '/assets/images/dummy/';

doctype
html(lang='ja')
  head(prefix='og: http://ogp.me/ns#')
    link(href='/assets/styles/main.css', rel='stylesheet')
    script(src='/assets/scripts/main.js', defer)

  body
    block body
