@charset "UTF-8";
/*!
 * ress.css • v2.0.2
 * MIT License
 * github.com/filipelinhares/ress
 */
html {
  box-sizing: border-box;
  -webkit-text-size-adjust: 100%;
  word-break: break-word;
  -moz-tab-size: 4;
  tab-size: 4;
}

*, :after, :before {
  background-repeat: no-repeat;
  box-sizing: inherit;
}

:after, :before {
  text-decoration: inherit;
  vertical-align: inherit;
}

* {
  padding: 0;
  margin: 0;
}

hr {
  overflow: visible;
  height: 0;
}

details, main {
  display: block;
}

summary {
  display: list-item;
}

small {
  font-size: 80%;
}

[hidden] {
  display: none;
}

abbr[title] {
  border-bottom: none;
  text-decoration: underline;
  text-decoration: underline dotted;
}

a {
  background-color: transparent;
}

a:active, a:hover {
  outline-width: 0;
}

code, kbd, pre, samp {
  font-family: monospace, monospace;
}

pre {
  font-size: 1em;
}

b, strong {
  font-weight: bolder;
}

sub, sup {
  font-size: 75%;
  line-height: 0;
  position: relative;
  vertical-align: baseline;
}

sub {
  bottom: -0.25em;
}

sup {
  top: -0.5em;
}

input {
  border-radius: 0;
}

[disabled] {
  cursor: default;
}

[type=number]::-webkit-inner-spin-button, [type=number]::-webkit-outer-spin-button {
  height: auto;
}

[type=search] {
  -webkit-appearance: textfield;
  outline-offset: -2px;
}

[type=search]::-webkit-search-decoration {
  -webkit-appearance: none;
}

textarea {
  overflow: auto;
  resize: vertical;
}

button, input, optgroup, select, textarea {
  font: inherit;
}

optgroup {
  font-weight: 700;
}

button {
  overflow: visible;
}

button, select {
  text-transform: none;
}

[role=button], [type=button], [type=reset], [type=submit], button {
  cursor: pointer;
  color: inherit;
}

[type=button]::-moz-focus-inner, [type=reset]::-moz-focus-inner, [type=submit]::-moz-focus-inner, button::-moz-focus-inner {
  border-style: none;
  padding: 0;
}

[type=button]::-moz-focus-inner, [type=reset]::-moz-focus-inner, [type=submit]::-moz-focus-inner, button:-moz-focusring {
  outline: 1px dotted ButtonText;
}

[type=reset], [type=submit], button, html [type=button] {
  -webkit-appearance: button;
}

button, input, select, textarea {
  background-color: transparent;
  border-style: none;
}

select {
  -moz-appearance: none;
  -webkit-appearance: none;
}

select::-ms-expand {
  display: none;
}

select::-ms-value {
  color: currentColor;
}

legend {
  border: 0;
  color: inherit;
  display: table;
  white-space: normal;
  max-width: 100%;
}

::-webkit-file-upload-button {
  -webkit-appearance: button;
  color: inherit;
  font: inherit;
}

img {
  border-style: none;
}

progress {
  vertical-align: baseline;
}

svg:not([fill]) {
  fill: currentColor;
}

@media screen {
  [hidden~=screen] {
    display: inherit;
  }

  [hidden~=screen]:not(:active):not(:focus):not(:target) {
    position: absolute !important;
    clip: rect(0 0 0 0) !important;
  }
}
[aria-busy=true] {
  cursor: progress;
}

[aria-controls] {
  cursor: pointer;
}

[aria-disabled] {
  cursor: default;
}

* {
  box-sizing: border-box;
  word-wrap: break-word;
  overflow-wrap: break-word;
  background-repeat: no-repeat;
}

html {
  overflow-y: scroll;
  font-size: 10px;
}

ul, li {
  list-style: none;
}

img {
  max-width: 100%;
  height: auto;
  border: none;
  vertical-align: top;
}

select::-ms-expand {
  display: none;
}

a {
  text-decoration: none;
  color: inherit;
}

html {
  height: 100%;
}

body {
  height: 100%;
  line-height: 1.7;
  font-size: 1.5rem;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  color: #333;
  font-family: -apple-system, BlinkMacSystemFont, "Helvetica Neue", Hiragino Sans, "ヒラギノ角ゴ ProN W3", Hiragino Kaku Gothic ProN, "Yu Gothic", YuGothic, Verdana, Meiryo, sans-serif;
}
@media print, screen and (min-width: 768px) {
  body {
    line-height: 1.5;
    font-size: 1.6rem;
  }
}

input,
button,
textarea {
  outline: transparent;
}

a {
  word-break: break-all;
}

.accordion_toggle {
  display: none;
}

.accordion_toggle:checked ~ .accordion_label {
  font-weight: bold;
}

.accordion_body * {
  opacity: 0;
  overflow: hidden;
  padding: 0;
  line-height: 0;
  transition: opacity 0.2s ease-out, overflow 0.2s ease, padding 0.2s ease-out, line-height 0.2s ease-out;
}
.accordion_toggle:checked ~ .accordion_body * {
  opacity: initial;
  overflow: initial;
  padding: initial;
  line-height: 1.5;
}

.br {
  display: block;
}

.hidden {
  display: none;
}

.hiddenSp {
  display: none;
}
@media print, screen and (min-width: 768px) {
  .hiddenSp {
    display: block;
  }
}

@media print, screen and (min-width: 768px) {
  .hiddenPc {
    display: none;
  }
}

.taL {
  text-align: left !important;
}

.taR {
  text-align: right !important;
}

.taC {
  text-align: center !important;
}

@media print, screen and (min-width: 768px) {
  .taL-pc {
    text-align: left !important;
  }

  .taR-pc {
    text-align: right !important;
  }

  .taC-pc {
    text-align: center !important;
  }
}
.bold {
  font-weight: bold !important;
}

.italic {
  font-style: italic !important;
}

.ttU {
  text-transform: uppercase !important;
}

.ttL {
  text-transform: lowercase !important;
}